@media screen and (max-width: 1025px){
    header #header-second h1{
        font-size:24px;
    }   
    header #header-second ul li a{
        padding: 2px 6px !important;
    }
}
@media screen and (max-width: 769px){
    header .ik-ham-div{
        display: block;
    }
    #ik-nav{
        display: none;
        padding-left: 9px !important;
        margin-top: 0px !important;
    }
    .ik-cover-container h2{
        font-size:25px !important;
    }
    .ik-cover-container p{
        font-size:15px !important;
    }
}
@media screen and (max-width: 468px){
    #ik-cover{
        height:280px;
    }
    .ik-lr-modal{
        left: 5% !important;
        right: 5% !important;
    }
}